# Python
*.pyc
__pycache__
*.log
.ipynb_checkpoints

# macOS
*.DS_Store

# Clawpack
*.data
.output
.data
.plots
xgeoclaw
xgeoclaw.dSYM
_output/
_plots/
*.asc
*.tt3
*.tt1
*.xyz
*.nc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

